@page
@model IndexModel
@{
    ViewData["Title"] = "DivCode";
}


<!-- HERO SECTION -->
<section class="hero">
    
    <div class="hero-content">
        <h1>Hello, I'm Divine Ngalula Ilunga</h1>
        <p>
            I’m a third-year software development student passionate about building
            clean, user-focused applications across web and mobile platforms.
        </p>
        <h2>Junior Software Developer | Web Developer | .NET Developer</h2>

        <div class="hero-buttons">
            <a href="AboutMe" class="btn primary-btn">About Me</a>
            <a href="Projects" class="btn primary-btn">Projects</a>
            <a href="Contact" class="btn primary-btn">Contact</a>
            <a href="/files/cv_divine n ilunga.pdf" download class="btn secondary-btn">Download Resume</a>


        </div>
    </div>
    
</section>

